---
layout: default
---
<br>
<p>This the experimental home page of the <a href="https://www.eurocontrol.int/articles/performance-review-unit">Performance Review Unit</a> of <a href="https://www.eurocontrol.int/">Eurocontrol</a>.</p>

  <h2>Latest News</h2>
  <div class="container">
    <div class="row">
      {% for post in site.posts limit:5 %}
          {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
          {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

          {% if forloop.first %}
          <h3 id="{{ this_year }}-ref">{{this_year}}</h3>
            <div class="col-xs-8">
          {% else %}
            {% if this_year != next_year %}
            </div>
            <div class="col-xs-8">
            <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
            {% endif %}
          {% endif %}

          <h4>{{ post.date | date: "%d %b" }} <a href="{{ post.url }}">{{ post.title }}</a></h4>
          {% if forloop.last %}
          </div>
          {% endif%}
      {% endfor %}
    </div>
  </div>
