<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>
<script type="text/javascript">

 (function () {
   'use strict';

   anchors.options.placement = 'right';

   // need to call `add` when DOM is loaded
   // JQuery `ready` forces it if `add` is not called in a script
   // after the end of <body>
   // Note: you can avoid the call to `ready` if this file is included
//   $( document ).ready(function() {
     anchors.add();
//   });


 })();
</script>
