<p class="muted credit" style="text-align:center; margin-top:3em">
	<small>
		<span style="text-aligh:left">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</span> &nbsp; &mdash; &nbsp;
		<a href="{{ '/about/disclaimer/' | prepend: site.baseurl | prepend: site.url }}">Disclaimer</a> &nbsp; &mdash; &nbsp;
		<span style="text-aligh:right">Subscribe via
		<!-- text encoded (in _subscriber-href-encoded.txt) to avoid spammer robots via http://clickable-email.ezkode.com/ -->
		<a href="{% include _subscriber-href-encoded.txt %}">email <i class="fa fa-envelope"></i></a> or <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS <i class="fa fa-rss"></i></a></span>
	</small>
    {% include _generated.html %}
</p>
