<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- For all browsers -->
<!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Bootstrap & JQuery -->
<link rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" 
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Modernizr -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">

<!-- loadign and configuring MathJax -->
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX","output/HTML-CSS"],
  extensions: ["tex2jax.js","MathMenu.js","MathZoom.js"],
  tex2jax:
    {
      inlineMath: [ ['$','$'], ['\\(','\\)'] ],
      displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
      processEscapes: true
    },
  TeX:
    {
      equationNumbers: { autoNumber: "AMS" },
      extensions: ["AMSmath.js", "AMSsymbols.js"],
      TagSide: "left",
      Macros:
        {
          b: ['\\overline{#1}',1],
          h: ['\\widehat{#1}',1],
          til: ['\\widetilde{#1}',1],
        bold: ['\\mathbf{#1}',1],
          sans: ['\\mathsf{#1}',1],
        vect: ['\\boldsymbol{\\mathbf{#1}}',1],
        zeros: ['\\mathbf{0}'],
        ones: ['\\mathbf{1}'],
        complex: ['\\mathbf{C}'],
        C: ['\\mathsf{c}'],
        d: ['\\,d'],
        expect: ['\\mathbf{E}'],
        emf: ['\\mathscr{E}'],
        ft: ['\\mathcal{F}'],
        Lagrange: ['\\mathscr{L}'],
        naturals: ['\\mathbf{N}'],
        normal: ['\\mathcal{N}'],
        prob: ['\\mathbf{P}'],
        pset: ['\\mathcal{P}'],
        rationals: ['\\mathbf{Q}'],
        reals: ['\\mathbf{R}'],
        ereals: ['\\overline{\\mathbf{R}}'],
        risk: ['\\mathcal{R}'],
        integers: ['\\mathbf{Z}'],
        symdiff: ['\\,\\Delta\\,'],
        grad: ['\\nabla'],
        emptyset: ['\\varnothing'],
        ortho: ['{\\bot}'],
        deq: [':='],
        given: ['\\mid'],
        midgiven: ['\\;\\middle\\vert\\;'],
        set: ['\\{\\, #1 \\,\\}', 1],
        inner: ['\\langle#1,#2\\rangle', 2],
        ave: ['\\langle #1 \\rangle', 1],
        innerlr: ['\\left\\langle#1,#2\\right\\rangle', 2],
        avelr: ['\\left\\langle#1\\right\\rangle', 1],
        T: ['\\top'],
        abs: ['\\lvert#1\\rvert', 1],
        abslr:['\\left\\lvert#1\\right\\rvert', 1],
        norm: ['\\lVert#1\\rVert', 1],
        normlr: ['\\left\\lVert#1\\right\\rVert', 1],
        zeronorm: ['\\norm{#1}_0', 1],
        zeronormlr: ['\\normlr{#1}_0', 1],
        onenorm: ['\\norm{#1}_1', 1],
        onenormlr: ['\\normlr{#1}_1', 1],
        twonorm: ['\\norm{#1}_2', 1],
        twonormlr: ['\\normlr{#1}_2', 1],
        inftynorm: ['\\norm{#1}_\\infty', 1],
        inftynormlr: ['\\normlr{#1}_\\infty', 1],
        pnorm: ['\\norm{#1}_p', 1],
        pnormlr: ['\\normlr{#1}_p', 1],
        Frobnorm: ['\\norm{#1}_\\mathrm{F}', 1],
        Frobnormlr: ['\\normlr{#1}_\\mathrm{F}', 1],
        maxnorm: ['\\norm{#1}_\\mathrm{max}', 1],
        maxnormlr:  ['\\normlr{#1}_\\mathrm{max}', 1],
        tvnorm: ['\\norm{#1}_\\mathrm{TV}', 1],
        tvnormlr: ['\\normlr{#1}_\\mathrm{TV}', 1],
        ind: ['\\mathbf{I}_{\\{ #1 \\} }', 1],
        pind: ['\\mathbf{I}(#1)', 1],
        argmin: ['\\mathop{\\mathrm{arg\\,min}}'],
        argmax: ['\\mathop{\\mathrm{arg}\\,\\max}'],
        bdiag: ['\\mathop{\\mathrm{bdiag}}'],
        bd: ['\\mathop{\\mathrm{bd}}'],
        comb: ['\\mathop{\\mathrm{comb}}'],
        codom: ['\\mathop{\\mathrm{codim}}'],
        diag: ['\\mathop{\\mathrm{diag}}'],
        dom: ['\\mathop{\\mathrm{dom}}'],
        epi: ['\\mathop{\\mathrm{epi}}'],
        hard: ['\\mathop{\\mathrm{hard}}'],
        interior: ['\\mathop{\\mathrm{int}}'],
        MSE: ['\\mathop{\\mathrm{MSE}}'],
        modop: ['\\mathop{\\mathrm{mod}}'],
        minimize: ['\\mathop{\\mathrm{minimize}}'],
        maximize: ['\\mathop{\\mathrm{maximize}}'],
        midop: ['\\mathop{\\mathrm{mid}}'],
        nint: ['\\mathop{\\mathrm{nint}}'],
        pen: ['\\mathop{\\mathrm{pen}}'],
        Poisson: ['\\mathop{\\mathrm{Poisson}}'],
        rect: ['\\mathop{\\mathrm{rect}}'],
        RMSE: ['\\mathop{\\mathrm{RMSE}}'],
        range: ['\\mathop{\\mathrm{range}}'],
        relint: ['\\mathop{\\mathrm{relint}}'],
        rank: ['\\mathop{\\mathrm{rank}}'],
        st: ['\\mathop{\\mathrm{subject\\ to}}'],
        sinc: ['\\mathop{\\mathrm{sinc}}'],
        sign: ['\\mathop{\\mathrm{sign}}'],
        sgn: ['\\mathop{\\mathrm{sgn}}'],
        soft: ['\\mathop{\\mathrm{soft}}'],
        skewop: ['\\mathop{\\mathrm{skewop}}'],
        symop: ['\\mathop{\\mathrm{symop}}'],
        SNR: ['\\mathop{\\mathrm{SNR}}'],
        spanop: ['\\mathop{\\mathrm{span}}'],
        tr: ['\\mathop{\\mathrm{tr}}'],
        var: ['\\mathop{\\mathrm{var}}'],
        MinProb: ['\\begin{aligned}' +
          '&\\minimize_{#1} & & {#2}' +
          '\\end{aligned}', 2],
        ConMinProb: ['\\begin{aligned}' +
          '&\\minimize_{#1} & & #2 \\\\' +
          '&\\st & & #3' +
          '\\end{aligned}', 3],
        MaxProb: ['\\begin{aligned}' +
          '&\\maximize_{#1} & & {#2}' +
          '\\end{aligned}', 2],
        ConMaxProb: ['\\begin{aligned}' +
          '&\\maximize_{#1} & & #2 \\\\' +
          '&\\st & & #3' +
          '\\end{aligned}', 3],
        ArgMinProb: ['\\begin{aligned}' +
          '#1 = &\\argmin_{#2} & & {#3}' +
          '\\end{aligned}', 3],
        ArgConMinProb: ['\\begin{aligned}' +
          '#1 = &\\argmin_{#2} & & {#3} \\\\' +
          '&\\st & & #4' +
          '\\end{aligned}', 4],
        ArgMaxProb: ['\\begin{aligned}' +
          '#1 = &\\argmax_{#2} & & {#3}' +
          '\\end{aligned}', 3],
        ArgConMaxProb: ['\\begin{aligned}' +
          '#1 = &\\argmax_{#2} & & {#3} \\\\' +
          '&\\st & & #4' +
          '\\end{aligned}', 4]
        }
    },
  "HTML-CSS": { availableFonts: ["TeX"] }
});
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Queue(function() {
    // Fix <code> tags after MathJax finishes running. This is a
    // hack to overcome a shortcoming of Markdown. Discussion at
    // https://github.com/mojombo/jekyll/issues/199
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>