<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="{{ "/#" | prepend: site.baseurl }}">
          {% image ec-logo-brand.png alt="PRU" %}
          <div id="logo"></div>
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for link in site.data.navigation %}
          {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = site.url %}
          {% endif %}
          <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <!-- let's keep About & C0. out of navigation.yml to have it right-aligned -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ "/contact_us/#" | prepend: site.baseurl }}">Contact us</a></li>
        <li class=""><a href="{{ "/about/#" | prepend: site.baseurl }}">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% javascript active_navbar %}
{% javascript logo %}