<p>
	The PRU is the supporting unit of the independent
	<a href="https://www.eurocontrol.int/node/1737">Performance Review Commission</a> (PRC).
	Organisationally, it is part of the EUROCONTROL Single Sky Directorate.
	The PRU is responsible for monitoring and reviewing the performance of the European ANS System.
	Based on its analysis, the PRU supports the PRC in improving the performance
	of the European ANS system.
	In performing its tasks, the PRU maintains transparent working arrangements with
	service providers, airspace user organisations and industry.
</p>

<p>
	Within the context of Single European Sky (SES) the PRU has developed
	for the European Commission the
	<a href="http://www.eurocontrol.int/prudata/dashboard/rp2_2016.html">SES e-dashboard</a>
	which is a formal and official source of data in the context of the SES legislation,
	supporting NSA’s in their SES monitoring activities.
	The PRU updates this data on behalf of the European Commission on a quarterly basis.
</p>

<p>
	The PRU Portal (you are on it now) and its
	<a href="{{site.url}}/data/performancearea/">Data Download</a> and
	<a href="{{site.url}}/graphs/">Visualizations</a>
	sections cover all 41 Eurocontrol Member States.
	The PRU Portal datasets are not intended to be used within the context of the SES legislation
	(nevertheless they are of course consistent with the data on the SES e-Dashboard).
	The PRU Portal provides more granularity, either geographical and/or temporal.
	<br>
	In the <a href="{{site.url}}/references/methodology/">Methodology</a> section you will find the explanations/underpinning
	of the displayed data (best practices/ theory and studies).
	<br>
	In the <a href="{{site.url}}/references/bibliography.html">Bibliography</a>
	you will find relevant publications and
	web resources supporting and complementing our work.
</p>
