---
layout: default
title: Home
permalink: /
excerpt: Performance monitoring data, analyses and visualizations for Eurocontrol's 41 Member States.
keywords: metadata, performance, data, statistics, economics, air transport, flights, europe, cost efficiency
---
<style type="text/css">
.img-responsive {
    margin: 0 auto;
}

#main-text.row:after {
	background-image: url({{ 'wordcloud.svg' | asset_path }});
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: visible;
	content: "";
	z-index: -1;
	width: 100%;
	height: 100%;
/*	position: absolute;*/
	display: block;
	top: 0;
	opacity: 0.2;
}
</style>

<div class="row">
	<img src="{% asset_path european-ans-performance-review.jpg %}" class="img-responsive" alt="European ANS Performance">
</div>
<br>
<div class="row" id="main-text">
	<h4>Welcome to the European ANS Performance Data Portal</h4>

	{% include pru.html %}

	<p>
		For feedback or questions please contact us at:
		<a href="mailto:{{ site.owner.email }}">Performance Review Unit</a>
		({{ site.owner.email }}).
	</p>
</div>
<br>
<div class="row text-center">
  {% include _subscriber-button.html %}
</div>