{{ define "main" }}

<h1>{{ .Title }}</h1>

  <div class="archive">

    <!-- ### create list of present letters ### -->
    <!-- create a list with all uppercase letters -->
    {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

    <!-- range all pages sorted by their title -->
    {{ range .Data.Pages.ByTitle }}
      <!-- get the first character of each title. Assumes that the title is never empty! -->
      {{ $firstChar := substr .Title 0 1 | upper }}

      <!-- in case $firstChar is a letter -->
      {{ if $firstChar | in $letters }}
        <!-- get the current letter -->
        {{ $curLetter := $.Scratch.Get "curLetter" }}
        <!-- if $curLetter isn't set or the letter has changed -->
        {{ if ne $firstChar $curLetter }}
        <!-- update the current letter and print it -->
          {{ $.Scratch.Set "curLetter" $firstChar }}
          <!-- add letter to alphabet -->
          {{ $.Scratch.Add "alphabeth" (slice $firstChar) }}
        {{ end }}

      {{ end }}
    {{ end }}
    <!-- create list of anchors -->
    <div class="index-links">
      <ul>
        {{ range ($.Scratch.Get "alphabeth") }}
          <li><a href="#{{ . }}-section">{{ . }}</a> </li>
        {{ end }}
      </ul>
    </div>


    <!-- ### create list of entries ### -->
    <!-- create a list with all uppercase letters -->
    {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
    {{ $curLetter := "" }}

    <!-- range all pages sorted by their title -->
    {{ range .Data.Pages.ByTitle }}
      <!-- get the first character of each title. Assumes that the title is never empty! -->
      {{ $firstChar := substr .Title 0 1 | upper }}

      <!-- in case $firstChar is a letter -->
      {{ if $firstChar | in $letters }}
        <!-- get the current letter -->
        {{ $curLetter := $.Scratch.Get "curLetter" }}
        <!-- if $curLetter isn't set or the letter has changed -->
        {{ if ne $firstChar $curLetter }}
        <!-- update the current letter and print it -->
          {{ $.Scratch.Set "curLetter" $firstChar }}
          <h2 id="{{ $firstChar }}-section">{{ $firstChar }}</h2>
        {{ end }}

        <article class="archive-item">
          &mdash;&nbsp;<a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
        </article>
      {{ end }}
    {{ end }}

  </div>

{{ end }}
