/* as per http://getbootstrap.com/components/#navbar-fixed-top */
body { padding-top: 60px; }

.well {
    min-height: 20px;
    padding: 0px 20px 10px 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


/****************** dropdown on hover and click on main menu **********************/
/* from http://stackoverflow.com/a/12653488/963575 */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
/* for small devices */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
/*********************************************************************************/



:target {
  padding-top: 60px;
}

a.footnote::before {
  content: "[";
}

a.footnote::after {
  content: "]";
}

div.footnotes :target {
  padding-top: 0;
}


#loading {
	text-align: center;
	position: absolute;
	padding-left: 200px;
	padding-top: 100px;
	height: 20px;
	font-size: 30px;
}


#errorfield {
	font-size: 20px;
	text-align: center;
	background-color: red;
}

/******************************************************************************/
/* place background image in the <div class="main"> element                   */
/* all you need to do is to define the background-image for the relevant      */
/* page where you want to have a background, see the commented property below */
/* Use _pages/home.md as an example                                           */
/******************************************************************************/

/* from https://scotch.io/tutorials/how-to-change-a-css-background-images-opacity */
.main {
  position: relative;
  overflow: hidden;
}
.main:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url({{ 'Baustelle.svg' | asset_path }}); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 60px; /* top menu offset */
  opacity: 0.2;
}

figure {
  position: relative;
  margin: 1.5em 0;
  /* border-top: 1px dotted #0098d8; */
  /* border-bottom: 1px dotted #0098d8; */

}

figure img {
  margin: .75em auto;
}

figure > img {
  /* border: 1px solid #999; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  clear: left;
  margin: .75em 0;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

.table-caption {
  clear: left;
  margin: .75em 0;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

#prcq-sidebar {
  padding-top: 35px;
}