/* ==========================================================================
   Tables
   ========================================================================== */

/*  A clean textbook-like style with horizontal lines above and below and under
    the header. Rows highlight on hover to help scanning the table on screen.
*/

table, th, td {
  border-bottom: 1px solid #CCCCCC; /* dim gray for reduced non-data ink */
}

table
    {
    width: 100% !important;
    border-collapse: collapse;
    border-spacing: 0; /* IE 6 */

    border-bottom: 2pt solid #CCC;
    border-top: 2pt solid #CCC; /* The caption on top will not have a bottom-border */

    /* Center */
    margin-left: 2em;
    margin-right: auto;
    }

thead /* Entire table header */
    {
    border-bottom: 1pt solid #000;
    background-color: #eee; /* Does this BG print well? */
    }

tr.header /* Each header row */
    {
    }

tbody /* Entire table  body */
    {
    }

/* Table body rows */

tr  {
    }
tr.odd:hover, tr.even:hover /* Use .odd and .even classes to avoid styling rows in other tables */
    {
    background-color: #eee;
    }

/* Odd and even rows */
tr.odd {}
tr.even {}

td, th /* Table cells and table header cells */ {
    vertical-align: top; /* Word */
    vertical-align: baseline; /* Others */
    padding-left:   0.5em;
    padding-right:  0.5em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #CCCCCC; /* dim gray for reduced non-data ink */
}

/* Removes padding on left and right of table for a tight look. Good if thead has no background color*/
/*
tr td:last-child, tr th:last-child
    {
    padding-right: 0;
    }
tr td:first-child, tr th:first-child
    {
    padding-left: 0;
    }
*/

th /* Table header cells */
    {
    font-weight: bold;
    }

tfoot /* Table footer (what appears here if caption is on top?) */
    {
    }

caption /* This is for a table caption tag, not the p.caption Pandoc uses in a div.figure */
    {
    caption-side: top;
    border: none;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin-bottom: 0.3em; /* Good for when on top */
    padding-bottom: 0.2em;
}
