<!DOCTYPE html>
<html class="no-js" lang="{{ with $.Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
  	<!-- button for scroll to top of the page -->
    <button class="dn fixed white-70 bg-red outline-0 bottom-1 right-1 z-999 bn br1 pa1 glow pointer:hover" onclick="topFunction()" id="to-top-btn" title="Go to top">top <i class="fa fa-angle-double-up"></i></button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("to-top-btn").style.display = "block";
          } else {
              document.getElementById("to-top-btn").style.display = "none";
          }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
      }
      </script>

    <main class="ph2 pb1">
      <header class="tc bb b--black-10 bg-light-gray">
        {{ partial "nav.html" . }}
      </header>
