---
---
{{ entry.author }}. <i>{% if entry.url %}<a href='{{ entry.url }}'>{{ entry.title }}</a>{% else %}{{ entry.title }}{% endif %}</i>.
{% if entry.booktitle %}In {{ entry.booktitle }}. {% else %}{% if entry.journal %}In {{ entry.journal }} {% if entry.volume %}volume {{entry.volume}}{% endif %}. {% endif %}{% endif %} {% if entry.pages %}pages {{ entry.pages }},{% endif %}{% if entry.publisher %} {{ entry.publisher }},{% endif %} {{ entry.year }}.

{% if entry.abstract %}<p><small>Abstract: {{ entry.abstract }}</small></p>{% endif %}
