---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
  {% include _mathjax.html %}
  {% seo %}
</head>
{% include _browser-upgrade.html %}
<body>
  {% include _navigation.html %}
  <div class="container main">
    {{ content }}


    <div id="footer">
      <div class="container-fluid">
        {% include _footer.html %}
      </div>
    </div>

  </div>
</body>

{% include _libraries.html %}

</html>
