---
layout: default
---

<div class="row">
   <div class="col-sm-2" id="prcq-sidebar">
      <nav class="nav-sidebar">
         <ul class="nav" data-spy="affix" data-offset-top="5">   
            <h4><a href="{{ '/prcq/index.html' | prepend: site.baseurl | prepend: site.url }}">Overview <br>(Jan-Sep 2017)</a></h4>
            <ul>
            <li><a href="{{ '/prcq/traffic.html' | prepend: site.baseurl | prepend: site.url }}">Traffic</a></li>
            <li><a href="{{ '/prcq/ops-en-route.html' | prepend: site.baseurl | prepend: site.url }}">Operations En-route</a></li>
            <li><a href="{{ '/prcq/ops-airport.html' | prepend: site.baseurl | prepend: site.url }}">Operations Airport</a></li>
           </ul>
            <h4>Annual results</h4>
            <ul>
            <li><a href="{{ '/prcq/safety.html' | prepend: site.baseurl | prepend: site.url }}">Safety</a></li>
            <li><a href="{{ '/prcq/economics.html' | prepend: site.baseurl | prepend: site.url }}">Economics</a></li>
           </ul>
         </ul>
      </nav>
   </div>

   <div class="col-sm-10 main" data-spy="scroll" data-target="#prcq-sidebar" data-offset="50">
      {{ content }}
   </div>
</div>

{% javascript active_sidebar %}